{% extends 'base-bo.html.twig' %}

{% block title %}Paramètres > Liste {% endblock %}

{% block body %}
    <h3>Paramètres par type de logement</h3>
    <div class="row">
        <select class="form-control">
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.type }}</option>
            {% endfor %}
        </select>
        <br><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for parametres_type in parametres_types %}
                <tr>
                    <td>{{ parametres_type.id }}</td>
                    <td>{{ parametres_type.nom }}</td>
                    <td>
                        <a href="{{ path('parametres_type_show', {'id': parametres_type.id}) }}">show</a>
                        <a href="{{ path('parametres_type_edit', {'id': parametres_type.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
