{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
    
{% block body %}
{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telephone)}}
        {{ form_row(form.adresse)}}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">S'inscrire !</button>
{{ form_end(form) }}

{% endblock %}