{% extends 'base-bo.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h1>Liste des réservations</h1>
    <br>    
    <div class="row mx-auto my-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Logement</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Réservée le</th>
                    <th>Nombre de personnes</th>
                    <th>Prix Total
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.getLogement().getNom() }}</td>
                    <td>{{ reservation.dateDebut ? reservation.dateDebut|date('d/m/Y') : '' }}</td>
                    <td>{{ reservation.dateFin ? reservation.dateFin|date('d/m/Y') : '' }}</td>
                    <td>{{ reservation.dateCreation ? reservation.dateCreation|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ reservation.nbPersonne }}</td>
                    <td>{{ reservation.getPrixResa()}} €</td>
                    <td>
                        <a href="{{ path('logement_apercu', {'id': reservation.getLogement().getId()}) }}" class="btn btn-warning btn-block" title="Voir le logement"><img src="/img/picto/eye.svg" /></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" align="center">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
