{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
<div id="formulaire">
    {% include 'form-recherche.html.twig' %}
    <img src="/img/chair.jpeg"/>
</div>

<div class="container carouselmarge">
    <h3>Nos différents types de logements</h3>
    <div class="row flex-xl-nowrap">
        <div class="col-12">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="block4-wrap">
                                {% for t in types %}                                                      
                                    <div class="block4" id="{{ t.id }}">
                                        <a href="/categorie-logement/{{ t.id }}"><img class="d-block w-100" src="/img/types-habitat/{{ t.pathimg }}" alt="Péniche"></a>
                                        <div class="my-captions text-center">
                                            <h5>Nos {{ t.type }}{% if 's' not in t.type %}s{% endif %}</h5>
                                        </div>
                                    </div>
                                    {% if 8 is divisible by(t.id) and t.id > 2 and t.id < 8 %}
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="block4-wrap">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div id="nightDream" class="container-fluid">
    <div class="container">
        <h3>Où désirez vous passer une nuit de rêve ?</h3>
    </div>
    <div class="row">
        <div class="col-sm-6 no-gutters">
            <img src="/img/thematiques/we-love.jpg"/>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Week-End en amoureux</h4>
                <p>Savourer le plaisir des découvertes en duo, comme seuls au monde, pour se redire « je t’aime ».</p>
            </div>
        </div>
    </div>
    <div class="row deuxiemeDiv">
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Vacances en famille</h4>
                <p>Le grand air pour détendre parents et grands-parents… avec plein d’activités pour divertir les enfants.</p>
            </div>
        </div>
        <div class="col-sm-6 no-gutters">
            <img src="/img/thematiques/famille.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 no-gutters">
            <img src="/img/thematiques/friends.jpg"/>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Sortie entre amis</h4>
                <p>Instants à partager pour se fabriquer de nouveaux souvenirs communs. La complicité, ça s’entretient !</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
