{% extends 'base.html.twig' %}
{% block title %}Mon Profil{% endblock %}
{% block body %}
<div id="formulaire">
  <img src="/img/chair.jpeg">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 navProfil">
      <ul class="nav nav-tabs">
        <li><a id="link_dashboard" data-toggle="tab" href="#dashboard" class="list-group-item list-group-item-action active">Tableau de bord</a></li>
        <li><a id="link_informations" data-toggle="tab" href="#informations" class="list-group-item list-group-item-action">Mon Profil</a></li>
        <li><a id="link_messages" data-toggle="tab" href="#messages" class="list-group-item list-group-item-action">Mes Messages</a></li>
        {% if 'ROLE_PROPRIO' in app.user.getRoles() %}
          <li><a id="link_logements" data-toggle="tab" href="#logements" class="list-group-item list-group-item-action">Mes Logements</a></li>
        {% endif %}
        <li><a id="link_reservations" data-toggle="tab" href="#reservations" class="list-group-item list-group-item-action">Mes Réservations</a></li>
      </ul>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="card noborder">
        <div class="cardProfil">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content">
                {# Dashboard #}
                <div class="tab-pane" id="dashboard">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Tableau de bord</h2>
                      <hr>
                    </div>
                  </div>
                </div>
              {# Mes réservations #}
              <div class="tab-pane" id="reservations">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Mes Réservations</h2>
                    <hr>
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h3
                           class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Voyages en cours ou à venir
                            </button>
                          </h3
                          >
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          {% if newResas is not empty %}
                            {% for r in newResas %}
                              <div class="card-body">
                                <div class="boxReservation">
                                  <img class="img" src="{% if r.getLogement().getPhotos() is not empty %}/uploads/logements/{{ r.getLogement().getId() ~ '/' ~ r.getLogement().getPhotos[0].getPhoto() }}{% else %}/img/types-habitat/{{ r.getLogement().getIdType().getPathImg()}}{% endif %}">
                                  <h3
                                   class="card-title">{{ r.getLogement().getNom() }} du {{ r.getDateDebut()|date('d/m/Y') }} au {{ r.getDateFin()|date('d/m/Y') }} - {{ r.getPrixTotal() }} €</h3
                                  >
                                  <p class="card-text">{{ r.getLogement().getDescription() }}</p>
                                  <p class="card-text"><small class="text-muted">Réservé le {{ r.getDateCreation()|date('d/m/Y') }}</small></p>
                                  <button type="button" onclick="location.href = '/logement/{{ r.getLogement().getId() }}#commentaires'" class="btn btn-primary">Commenter</button>
                                </div>
                              </div>
                            {% endfor %}
                          {% else %}
                            <div class="card-body">Aucun voyage en cours et/ou à venir.</div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h3 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Historiques de vos séjours
                            </button>
                          </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          {% if newResas is not empty %}
                          {% for r in oldResas %}
                            <div class="card-body">
                              <div class="boxReservation">
                                <img class="img" src="{% if r.getLogement().getPhotos() is not empty %}/uploads/logements/{{ r.getLogement().getId() ~ '/' ~ r.getLogement().getPhotos[0].getPhoto() }}{% else %}/img/types-habitat/{{ r.getLogement().getIdType().getPathImg()}}{% endif %}">
                                <h3 class="card-title">{{ r.getLogement().getNom() }} du {{ r.getDateDebut()|date('d/m/Y') }} au {{ r.getDateFin()|date('d/m/Y') }} - {{ r.getPrixTotal() }} €</h3>
                                <p class="card-text">{{ r.getLogement().getDescription() }}</p>
                                <p class="card-text"><small class="text-muted">Réservé le {{ r.getDateCreation()|date('d/m/Y') }}</small></p>
                                <button type="button" onclick="location.href = '/logement/{{ r.getLogement().getId() }}#commentaires'" class="btn btn-primary">Commenter</button>
                              </div>
                            </div>
                          {% endfor %}
                          {% else %}
                            <div class="card-body">Aucun voyage dans l'historique.</div>                            
                          {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            {# Informations #}
            <div class="tab-pane" id="informations">
             <div class="row">
              <div class="col-md-12">
                <h2>Mon Profil</h2>
                <hr>
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                  <div class="form-group row">
                    {{ form_label(form.nom)}}
                    <div class="col-8">
                      {{ form_errors(form.nom)}}
                      {{ form_widget(form.nom)}}
                    </div>
                  </div>
                  <div class="form-group row">
                    {{ form_label(form.prenom)}}
                    <div class="col-8">
                    {{ form_errors(form.prenom)}}
                      {{ form_widget(form.prenom)}}
                    </div>
                  </div>
                  <div class="form-group row">
                    {{ form_label(form.email)}}
                    <div class="col-8">
                      {{ form_errors(form.email)}}
                      {{ form_widget(form.email)}}
                    </div>
                  </div>
                  <div class="form-group row">
                    
                    {{ form_label(form.telephone)}}
                    <div class="col-8">
                    {{ form_errors(form.telephone)}}
                      {{ form_widget(form.telephone)}}
                    </div>
                  </div>
                  <div class="form-group row">
                    {{ form_label(form.adresse)}}
                    <div class="col-8">
                      {{ form_errors(form.adresse)}}
                      {{ form_widget(form.adresse)}}
                    </div>
                  </div>
                  {% if 'ROLE_PROPRIO' in app.user.getRoles() %}
                    <div class="form-group row">
                      {{ form_label(form.siret)}}
                      <div class="col-8">
                        {{ form_errors(form.siret)}}
                        {{ form_widget(form.siret)}}
                      </div>
                    </div>
                  {% endif %}
                  <div class="form-group now">
                    <div class="col-8">
                      {{ form_widget(form.newsletter)}}&nbsp;&nbsp;J'accepte de recevoir les newsletter d'Atypik'House.
                    </div>
                  </div>
                  <div class="form-group row">
                      <button name="submit" type="submit" class="btn btn-success">Mettre à jour mon profil</button>
                  </div>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
          {# Messages #}
          <div class="tab-pane" id="messages">
            <div class="row">
              <div class="col-md-12">
                <h2>Mes Messages</h2>
                <hr>
                {% if app.user.getMessages() is not empty %}
                  {% for m in app.user.getMessages() %}
                    <div class="card text">
                      <div class="card-header">{{ m.getExpediteur() }}</div>
                      <div class="card-body">
                        <h3
                         class="card-title">Bien concerné : <a href="{{ path('logement_index', {'id': m.getLogement().getId() }) }}">{{ m.getLogement().getNom() }}</a></h3
                        ><br>
                        <h3
                         class="card-title">{{ m.objet }}</h3
                        >
                        <p class="card-text">{{ m.getContenu() }}</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#reponseForm" aria-expanded="false" aria-controls="collapseExample">
                          Répondre
                        </button>
                      </div>
                      <div class="card-footer text-muted">Envoyé il y a {{ m.dateEnvoi.diff(date())|date("%d jours") }} - {{m.dateEnvoi|date('d/m/Y') }}</div>
                    </div>
                    <div class="collapse col-sm-12" id="reponseForm">
                      <div class="card card-body">
                        <form method="post" action="{{ path('reponse_route', {'id': m.id}) }}">
                          <div class="form-group row">
                            <label for="objet" class="col-sm-3 col-form-label">Objet</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" value="Re: {{ m.objet }}" name="objet" id="objet" readonly />
                              </div>
                          </div>
                          <div class="form-group row">
                            <label for="contenu" class="col-sm-3 col-form-label">Contenu *</label>
                              <div class="col-sm-9">
                                <textarea class="form-control" name="contenu" id="contenu"></textarea>
                              </div>
                          </div>
                          <div class="form-group row">
                            <button type="submit" class="btn btn-success">Envoyer</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="col-sm-12">
                    Vous n'avez aucun message
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {# Mes Logements #}
          <div class="tab-pane" id="logements">
            <div class="row">
              <div class="col-md-12">
                <h2>Mes Logements</h2>
                <hr>
                {% for logement in app.user.getLogements() %}
                  <div class="col-md">
                    <div class="card">
                      <img class="card-img-top" src="{% if logement.getPhotos() is not empty %}/uploads/logements/{{logement.id ~ '/' ~ logement.getPhotos()[0].photo}} {% else %}/img/types-habitat/{{ logement.getIdType().getPathImg()}} {% endif %}" alt="{{ logement.getNom() }}">
                      <div class="card-body">
                        <h2 class="card-title ">{{ logement.nom }}</h2>
                        <h3
                         class="card-title">{{ logement.getVille().getNom() }} - {{ logement.prix }}€/nuit </h3
                        >
                        <p class="card-text">{{ logement.description |slice(0, 40) }} ...
                        </p>
                        <button type="button" class="btn btn-consulter"><a href="{{ path('logement_index', {'id': logement.id}) }}" class="a-consulter">Consulter</a></button>
                        <button type="button" class="btn btn-info"><a href="{{ path('maj_logement', {'id': logement.id}) }}" class="a-consulter">Modifier</a></button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/profil.js"></script>  
{% endblock %}
