{% extends 'base.html.twig' %}

{% block title %}Recherche de logements{% endblock %}

{% block body %}

<div id="formulaire">
  {% include 'form-recherche.html.twig' %}
  <img src="/img/chair.jpeg" />
</div>

<div class="container">
  {% if logements is empty %}
  <div class="row">
    <div class="col-sm3">
      <h3>Aucun résultat</h3>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm3">
      <h3>Résultats de la recherche :</h3>
    </div>
  </div>
  <div class="row">
    {% for logement in logements %}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/uploads/logements/{{logement.id}}/{{logement.getPhotos()[0].photo}}" alt="{{ logement.getNom() }}">
          <div class="card-body">
            <h4 class="card-title ">{{ logement.nom }}</h4>
            <h5 class="card-title">{{ logement.getVille().getNom() }} - {{ logement.prix }}€/nuit </h5>
            <p class="card-text">{{ logement.description }}</p>
            <button type="button" class="btn btn-consulter"><a href="{{ path('logement_index', {'id': logement.id}) }}" class="a-consulter">Consulter</a></button>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}