{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<header>
    <img id ="logo" src="{{ asset('dist/img/logo.png') }}">
    <div id="title"><a href="index.html">Atypik House</a></div>
    <button id="btnInscrire" type="button" class="btn btn-success"><p>S'inscrire</p></button>
    <button id="btnConnecter" class="btn btn-primary"><p>Se connecter</p></button>
</header>

<div id="formulaire">
  <img src="{{ asset('dist/img/imageFormRecherche.png') }}">
</div>
  <br/>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
     <div class="col-sm3">
      <h1>Résultats de la recherche:</h1>
    </div>
    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/cabane.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/yourte.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/bulle.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/cabane.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/yourte.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/bulle.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/cabane.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/yourte.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ asset('dist/img/bulle.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
</div>


</div>
{% endblock %}

