{% extends 'base.html.twig' %}

{% block title %}Liste des logements{% endblock %}

{% block body %}
    <h1>Liste des logements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>NbVoyageur</th>
                <th>NbLits</th>
                <th>NbSalledeBain</th>
                <th>Prix</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
                <td>{{ logement.id }}</td>
                <td>{{ logement.nom }}</td>
                <td>{{ logement.description }}</td>
                <td>{{ logement.nbVoyageur }}</td>
                <td>{{ logement.nbLits }}</td>
                <td>{{ logement.nbSalledeBain }}</td>
                <td>{{ logement.prix }}</td>
                <td>
                    <a href="{{ path('utilisateur_edit', {'id': logement.id_proprietaire}) }}">Voir proprio</a>
                    <a href="{{ path('logement_edit', {'id': logement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('logement_new') }}">Create new</a>
{% endblock %}
