{% extends 'base-bo.html.twig' %}

{% block title %}TypeLogement index{% endblock %}

{% block body %}
    <h1>TypeLogement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_logement in type_logements %}
            <tr>
                <td>{{ type_logement.id }}</td>
                <td>{{ type_logement.type }}</td>
                <td>
                    <a href="{{ path('type_logement_show', {'id': type_logement.id}) }}">show</a>
                    <a href="{{ path('type_logement_edit', {'id': type_logement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_logement_new') }}">Create new</a>
{% endblock %}
