{% extends 'base.html.twig' %}
{% block title %}{{ logement.nom }}{% endblock %}
{# Ajout des metadonnées #}
{% block meta %}
  {{ parent() }}
  <meta description="{{ logement.description }}">
  <meta property="og:title" content="{{ logement.nom }}" />
  <meta property="og:description" content="{{ logement.description }}" />
  <meta property="og:url" content="{{ app.request.uri }}" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:image" content="{% if photos is not empty %}/uploads/logements/{{logement.id}}/{{photos[0].photo}}{% else %}/img/types-habitat/{{ logement.getIdType().getPathImg() }}{% endif %}" />
{% endblock %}
{% block body %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success">
  {{ flash_message }}
</div>
{% endfor %}

<div id="bandeau-logement">
  {% if photos is not empty %}<button type="button" class="btn btn-photo" onclick="openModal();currentSlide(1)">Voir les photos</button>{% endif %}
  <img src="{% if photos is not empty %}/uploads/logements/{{logement.id}}/{{photos[0].photo}}{% else %}/img/types-habitat/{{ logement.getIdType().getPathImg() }}{% endif %}" />
</div>

{# CAROUSEL #}
<div id="myModalSlider" class="modalSlider">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-contentSlider">
    {% for p in photos %}
    <div class="mySlides">
      <div class="nombre">{{ loop.index }} / {{ photos|length }}</div>
      <img src="/uploads/logements/{{ logement.id }}/{{ p.photo }}" style="width:100%">
    </div>
    {% endfor %}
    <a class="precedent" onclick="plusSlides(-1)">&#10094;</a>
    <a class="suivant" onclick="plusSlides(1)">&#10095;</a>
    <div class="caption-containerSlider">
      <p id="captionSlider"></p>
    </div>
    {% for p in photos %}
    <div class="colonne">
      <img class="demo cursor" src="/uploads/logements/{{ logement.id }}/{{ p.photo }}" style="width:100%" onclick="currentSlide({{ loop.index }})"
        alt="{{ logement.nom }} - photo  n° {{ loop.index }}">
    </div>
    {% endfor %}
  </div>
</div>
{# END CAROUSEL #}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="titreLogement">{{ logement.nom }}</h3>
      <div class="titre_ville">{{ logement.getVille().getNom() }}</div>

      <div class="row info-icones">
        <div class="col">
          <img class="icones" src="/img/picto/voyageur.svg" />
          {{ logement.nbPersonne }} voyageurs
        </div>
        <div class="col">
          <img class="icones" src="/img/picto/lit.svg" />
          <span> {{ logement.nbCouchage}} lits</span>
        </div>
        <div class="col">
        </div>
      </div>

      <h4 class="sous-titre"> Présentation </h4>
      <div class="produit-desc">
        {{ logement.description }}
      </div>

      <div class="row">
        {% if logement.getCommodites() is not empty %}
          <div class="col">
            <h4 class="sous-titre"> Commodités </h4>
            <div class="produit-desc">
            {% set commodites = logement.getCommodites()|split(';') %}
              <ul>
                {% for c in commodites %}
                  <li>{{ c }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        {% if logement.getReglement() is not empty %}
        <div class="col">
          <h4 class="sous-titre"> Réglement </h4>
          <div class="produit-desc">
            {% set regles = logement.getReglement()|split(';') %}
              <ul>
                {% for r in regles %}
                  <li>{{ r }}</li>
                {% endfor %}
              </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <h4 class="sous-titre"> Activité à proximité </h4>
      <div class="produit-desc">
        <ul>
          <li>Randonnée</li>
          <li>Barbecue</li>
          <li>Acrobranche</li>
          <li>centre équestre</li>
        </ul>
      </div>
      <h4>Localisez l'hébergement</h4>
      <div class="adresse-location">
        {{ logement.adresse ~ ' ' ~ logement.codePostal }}
        {% if logement.getVille() is not empty %}
        {{ logement.getVille().getNom() }}
        {% endif %}
      </div>
      <div id="map"></div>
      <script type="text/javascript">
        var lat = {{ logement.getVille().getLatitude() }};
        var lon = {{ logement.getVille().getLongitude() }};
        var macarte = null;
        function initMap() {
          macarte = L.map('map').setView([lat, lon], 13);
          L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
              attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
              minZoom: 1,
              maxZoom: 20
          }).addTo(macarte);
          var marker = L.marker([lat, lon]).addTo(macarte);
        }
        window.onload = function(){
          initMap(); 
        };
      </script>
      <div class="row">
        <div class="comments col" id="commentaires">
          <h4 class="sous-titre mb-2"> Avis des voyageurs</h4>
          <hr>
          {% if commentaires is not empty %}
            {% for c in commentaires %}
              <div class="comment mb-2 row">
                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="/img/header/avatarLogin.png" alt="avatar"></a>
                </div>
                <div class="comment-content col-md-11 col-sm-10">
                    <h6 class="small comment-meta">{{ c.getIdUtilisateur() }} - {{ c.getDateCommentaire()|date('d/m/Y H:i:s') }}</h6>
                    <div class="comment-title">
                      <strong>{{ c.getTitre() }}</strong>
                      <script type="text/javascript">
                          var nbEtoile = {{ c.getNote() }};
                          for (var i = 1; i <= nbEtoile; i++) {
                            document.write('<a id="i">★</a>');
                          }
                          for (var i = 1; i <= 5 - nbEtoile; i++) {
                            document.write('<a id="i">☆</a>');
                          }
                        </script>
                    </div>
                    <div class="comment-body">
                        <p>{{ c.getContenu() }}</p>
                    </div>
                </div>
              </div>
              <hr>
            {% endfor %} 
          {% else %}
              Aucun avis n'a été ajouté
          {% endif %}
          {% if reservations is not empty %}
            <div class="row pt-2">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#commentaireForm" aria-expanded="false" aria-controls="collapseExample">
                Ajouter un commentaire
              </button>
            </div>
            <div class="row">
              <div class="collapse col-sm-12" id="commentaireForm">
                <div class="card card-body">
                  <form method="post" action="{{ path('commenter_route', {'id': logement.id }) }}">        
                    <div class="form-group row">  
                      <label for="note" class="col-sm-3 col-form-label">Note</label>
                        <div class="col-sm-9">
                          <a class="star-note" data-attr="1">☆</a>
                          <a class="star-note" data-attr="2">☆</a>
                          <a class="star-note" data-attr="3">☆</a>
                          <a class="star-note" data-attr="4">☆</a>
                          <a class="star-note" data-attr="5">☆</a>
                          <input type="hidden" class="form-control" name="note" id="note" value="0"/>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="titre" class="col-sm-3 col-form-label">Titre *</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="titre" id="titre" />
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="contenu" class="col-sm-3 col-form-label">Contenu *</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" name="contenu" id="contenu"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                      <button type="submit" class="btn btn-success">Commenter</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="resa">
        <div class="prix">
          {{ logement.prix }} € <small>par nuit</small>
        </div>
        <div class="etoile">
          <div class="rating">
            <script type="text/javascript">
              var nbEtoile = {{ logement.getNoteMoyenne() }};
              for (var i = 1; i <= nbEtoile; i++) {
                document.write('<a id="i">★</a>');
              }
              for (var i = 1; i <= 5 - nbEtoile; i++) {
                document.write('<a id="i">☆</a>');
              }
            </script>
          </div>
        </div><br>
        <form action="/logement/{{ logement.id }}/reservation" method="post">
          {% for flash_message in app.session.flashBag.get('error') %}
          <div class="alert alert-danger">
            {{ flash_message }}
          </div>
          {% endfor %}
          <div class="form-group">
            <label for="dateDebut" class="form-label">Date de Début</label>
            <input type="text" class="form-control" name="dateDebut" id="dateDebut" value="{{ "now"|date("d/m/Y") }}" />
          </div>
          <div class="form-group">
            <label for="dateFin" class="form-label">Date de Fin</label>
            <input type="text" class="form-control" name="dateFin" id="dateFin" value="{{ "tomorrow"|date("d/m/Y") }}" />
          </div>
          <div class="form-group">
            <label for="nbPersonne" class="form-label">Nombre de personnes</label>
            <input type="number" name="nbPersonne" class="form-control" min="1" max="{{ logement.nbPersonne }}"
              placeholder="Nombre de voyageurs" value="1" />
          </div>
          <button type="submit" class="btn btn-recherche " onclick="location.href='{{ path('logement_reservation', {'id': logement.id }) }}'">Réserver</button>
        </form>
      </div>
      <div class="hote">
        <h4 class="sous-titre"> Votre hôte </h4>
        <img class="icone-proprio" src="/img/picto/proprio.svg" />
        <p class="nom-hote">Nom de l'hôte</p>
        <p class="logement-hote">{{ logement.getIdProprietaire() }}</p>
        <button type="button" class="btn btn-recherche" data-toggle="modal" data-target="#contactProprio">Contacter</button>
        <div class="modal fade" id="contactProprio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contacter le propriétaire - {{ logement.getIdProprietaire() }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="{{ path('contacter_proprio_route', {'id': logement.id}) }}" method="post">
                <div class="modal-body">
                  <div class="col-sm-12">
                    
                      <div class="form-group row">
                          <label for="objet" class="col-sm-3 col-form-label">Objet *</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="objet" id="objet" required />
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="contenu" class="col-sm-3 col-form-label">Contenu *</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" name="contenu" id="contenu" required ></textarea>
                            </div>
                        </div>
                  </div>
                </div>                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-success">Envoyer message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}