<p>Message envoyé depuis la page de contact du site atypikhouse.fr</p>
<strong>Prénom :</strong>{{ prenom }}<br>
<strong>Nom : </strong>{{ nom }}<br>
<strong>E-mail : </strong>{{ email }}<br>
<strong>Téléphone : </strong>{{ telephone }}<br>
<strong>Sujet : </strong>{{ sujet }}<br>
<strong>Message : </strong>{{ message }}