<h1>Réservation N° {{ resa.getId() }}</h1><br>
Bonjour {{ resa.getUtilisateur().getPrenom() }}!<br>
Voici un récapitulatif de votre réservation réalisé le {{ resa.getDateCreation()|date('d/m/Y') }}<br>
<strong>Logement :</strong>{{ resa.getLogement().getNom() }}<br>
<strong>Adresse : </strong>{{ resa.getLogement().getAdresse() }}<br>
<strong>Date de début : </strong>{{ resa.getDateDebut()|date('d/m/Y') }}<br>
<strong>Date de fin : </strong>{{ resa.getDateFin()|date('d/m/Y') }}<br>
<strong>Prix : </strong>{{ resa.getPrixTotal() }} €
<br>
Merci et à bientôt !
<br>
L'équipe Atypik'House.