<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} &bull; Atypik'House - Back Office</title>
        <link rel="icon" type="image/png" href="/img/logo.png" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Atipik'House - Back Office</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logements
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('logement_liste') }}">Liste de tous les logements</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('reservation_liste') }}">Réservations</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Commentaires (TODO)</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Types d'habitat
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('type_logement_liste') }}">Liste des types d'habitat</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('parametres_type_liste', {'type': 0}) }}">Paramètres</a>                                
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('utilisateur_liste') }}">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Taxes (Ville)</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="/js/jquery.min.js"></script>
                <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/bo.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
