{% extends 'base-bo.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <h3>Liste des utilisateurs</h3>
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="mx-auto col">
            <a class="btn btn-success" href="{{ path('utilisateur_new') }}">Créer un nouvel utilisateur</a>
        </div>
    </div>
    <div class="row mx-auto my-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Compte Validé</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ utilisateur.adresse }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.telephone }}</td>
                    <td>{{ utilisateur.valideUser ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>        
</div>
{% endblock %}
